.page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  color: #737373;
  button {
    padding: 1px;
    margin: 0 5px;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
  button:disabled {
    color: #d4d4d4;
    &:hover {
      text-decoration: none;
    }
  }
  button[data-index] {
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
