.container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 48px 32px;
  @media (max-width: 768px) {
    padding: 48px 10px;
  }
}
.backButton {
  margin: 0 0 10px 5rem;
  font-size: 13px;
  color: #9ca3af;
  @media (max-width: 768px) {
    margin: 0 0 10px 10px;
  }
}
.form {
  width: 420px;
  margin: 0 auto;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #374151;
  @media (max-width: 768px) {
    width: 96%;
  }
  > h4 {
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 18px;
  }
  > label {
    width: 320px;
    text-align: left;
    margin-top: 16px;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  > input {
    width: 320px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 7px;
    margin-top: 4px;
    &::placeholder {
      font-size: 13px;
      color: #d1d5db;
    }
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  > button:not(.forgot) {
    background: #cbd5e1;
    padding: 5px 32px;
    border-radius: 5px;
    margin-top: 32px;
    &:hover {
      background: #e2e8f0;
      color: #1e293b;
    }
  }
  .error {
    border: 1px solid #f87171;
  }
}
.join {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  > button {
    &:hover {
      text-decoration: underline;
      text-underline-offset: 5px;
      color: #1e293b;
    }
  }
}
.forgot {
  font-size: 13px;
  font-weight: 200;
  color: #1e293b;
  margin: 20px 0 10px 0;
}
