.container {
  padding: 24px 16px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 15px;
  color: #737373;
  position: relative;
  textarea {
    width: 100%;
    resize: none;
    font-weight: 300;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 5px;
    &:focus {
      outline: none;
    }
    &:read-only {
      border: none;
    }
  }
}
.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
  span {
    color: #a3a3a3;
    &:first-of-type {
      font-size: 15px;
    }
    &:last-of-type {
      font-size: 12px;
      flex: 2;
      text-align: right;
    }
  }
  > button {
    margin-left: 12px;
  }
  .light {
    color: #0369a1;
  }
}
.clone {
  position: absolute;
  top: 24px;
  left: 16px;
  font-size: 15px;
  font-weight: 300;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}
.buttons {
  position: absolute;
  top: 5px;
  right: 14px;
  button {
    margin: 0 2px;
  }
}
