.header {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 10px 16px;
  position: relative;
  > h1 {
    color: #374151;
    // width: fit-content;
  }
}
.nav {
  position: absolute;
  top: 20px;
  right: 16px;
  > ul {
    display: flex;
    align-items: center;
    > li:last-of-type {
      margin-left: 8px;
    }
  }
  button {
    font-size: 14px;
    color: #6b7280;
  }
}
