.preview {
  padding: 16px 32px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #6b7280;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  i {
    font-size: 12px;
    font-weight: 100;
  }
  &:hover {
    box-shadow: 1px 2px 2px #d1d5db;
  }
}
